.itemsList-ul {
  list-style-type: none;
  margin: 10px auto;
  max-width: 434px;
  padding: 0;
  text-align: left;
}

.itemsList-ul li {
  display: flex;
  flex: 0 0 auto;
}

.itemsList-ul label {
  padding: 8px 0;
  display: flex;
  flex: 1 1 auto;
}

.itemsList-ul input {
  margin-left: 0;
}
